body {
  background: #fff;
  color: #000;
  font-family: 'Leto';
  font-size: 1.4em;
  margin: 90px 0 0 0;
  width: 100%;
}
@font-face {
  font-family: 'Leto';
  src: url('Leto Text Sans Defect.otf');
}
textarea {
  resize: vertical;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
a {
  color: #4fa4b3;
  text-decoration: none;
}
a:visited {
  color: #4fa4b3;
}
a:active {
  color: #e40808;
}
a:hover {
  text-decoration: underline;
}
nav {
  background: #36597d;
  border-bottom: 1px solid #274059;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}
nav a:visited {
  color: #fff;
}
nav a:active {
  color: #fff;
}
nav .toggle-nav {
  display: none;
  text-decoration: none;
  cursor: pointer;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.menu > li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 30px;
}
.menu > li a {
  border: 2px solid #36597d;
  padding: 5px 10px;
}
.menu > li:hover a {
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  text-decoration: none;
  transition: border 0.4s ease-out;
  -webkit-transition: border 0.4s ease-out;
  -moz-transition: border 0.4s ease-out;
  -o-transition: border 0.4s ease-out;
}
.menu > .special a {
  background: #e40808;
  border-radius: 3px;
  border: none;
  color: #fff;
}
.menu > .special:hover a {
  border: none;
}
.logo {
  left: 15px;
  position: absolute;
  top: 15px;
  width: 60px;
}
.main-foto {
  height: 500px;
  padding: 0;
}
.main-foto img {
  height: 100%;
  width: 100%;
}
.marker {
  background: #4fa4b3;
  margin: 0;
  padding: 50px 30px;
  text-align: center;
}
.marker span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.marker .col {
  margin: 0;
}
.marker + .article {
  border-top: none;
}
.article {
  padding: 50px 0;
  text-align: center;
  border-top: 1px dashed #36597d;
}
.description {
  margin-top: -50px;
}
.description div {
  text-align: center;
  padding: 0 30px;
}
.portfolio-list {
  border-spacing: 100px 10px;
  margin: 0 auto;
}
.portfolio-list td {
  width: 300px;
}
.portfolio-list img {
  width: 100%;
}
.contact span {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}
.contact table {
  border-spacing: 50px 0;
  margin: 0 auto;
}
.contact table td {
  width: 33.33333333333%;
}
.contact table img {
  height: 80px;
  width: 80px;
}
.services-list {
  border-spacing: 20px 10px;
  margin: 0 auto;
  width: 70%;
}
.services-list th {
  font-size: 1.2em;
}
.services-list td {
  width: 33.33333333333%;
}
.order-table {
  margin: 0 auto;
  border-spacing: 20px 10px;
}
.order-table tr {
  height: 50px;
}
.order-table input {
  height: 30px;
  width: 250px;
}
.order-table textarea {
  width: 250px;
}
.slider {
  background: url('../img/macbook.png') 0 0;
  background-size: 100% 100%;
  /* Должно быть после background, иначе съезжает верстка */
  height: 500px;
  margin: 0 auto;
  width: 70%;
}
.slide {
  height: 100%;
  width: 100%;
}
.slide img {
  height: 81.5%;
  left: 1px;
  position: relative;
  top: 27px;
  width: 80.25%;
}
.col {
  display: inline-block;
  margin: 40px 15px 0;
  width: 20%;
}
.col-l {
  display: inline-block;
  float: left;
}
.col-c {
  display: inline-block;
  margin: 0 auto;
}
.col-r {
  display: inline-block;
  float: right;
}
.social span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 20px;
}
.social-icon {
  display: inline-block;
  height: 60px;
  width: 60px;
}
.top {
  background: #36597d;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 7em;
  height: 0;
  opacity: 0.3;
  position: fixed;
  right: 50px;
  text-align: center;
  width: 100px;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out, height 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out, height 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, height 0.5s ease-out;
}
.top:hover {
  opacity: 1;
}
.blog-head {
  background: #36597d;
  color: #fff;
  height: 140px;
  margin-top: -90px;
  padding: 50px 30px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.blog-head span {
  display: block;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.blog-head + .blog-article {
  border-top: none;
}
.blog-article {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 30px;
  border-top: 1px dashed #36597d;
  text-align: justify;
  font-family: "Times New Roman";
  line-height: 30px;
}
.blog-article > .title {
  text-align: center;
}
.blog-article > .preview {
  text-align: justify;
}
.blog-article > .more {
  margin-top: 50px;
  display: inline-block;
}
.blog-article .blog-title {
  text-align: center;
}
.blog-article .code {
  font-family: "Courier";
  background: #e0e0e0;
  padding: 3px;
  font-size: 0.8em;
}
.blog-article p {
  text-indent: 20px;
}
#vk,
#fb,
#tw {
  width: 60px;
}
#vk {
  background: #5C82AB;
  border: 1px solid #48698c;
}
#fb {
  background: #3B5998;
  border: 1px solid #2d4373;
}
#tw {
  background: #55ACEE;
  border: 1px solid #2795e9;
}
#slider {
  /* Оболочка слайдера */
  position: relative;
}
#prewbutton,
#nextbutton {
  /* Ссылка "Следующий" и "Педыдущий" */
  display: block;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-indent: -999px;
  background: url(../img/arrowBg.png) left center no-repeat;
  opacity: 0.8;
  z-index: 3;
  outline: none !important;
}
#prewbutton:hover,
#nextbutton:hover {
  opacity: 1;
}
#prewbutton {
  left: 10px;
}
#nextbutton {
  right: 10px;
  background: url(../img/arrowBg.png) right center no-repeat;
}
@media (max-width: 1050px) {
  nav {
    height: 100px;
  }
  nav .logo {
    margin-top: 10px;
  }
  nav .toggle-nav {
    display: block;
    padding: 35px 40px 0 0;
  }
  nav .toggle-nav span {
    position: relative;
    right: -95%;
    display: block;
    background: #fff;
    height: 6px;
    margin-top: 6px;
    width: 40px;
    border-radius: 2px;
  }
  nav .menu {
    display: none;
    text-align: center;
    background: #36597d;
    padding: 10px 0 30px;
    font-size: 2em;
  }
  nav .menu > li {
    display: block;
    font-size: 1em;
    margin-right: 10px;
  }
  .main-foto {
    height: 400px;
  }
  .slider {
    height: 350px;
  }
  .social-icon {
    width: 50px;
    height: 50px;
  }
  #vk,
  #fb,
  #tw {
    width: 50px;
  }
  .slide img {
    top: 20px;
    left: 1px;
  }
}
@media (min-width: 1500px) {
  .main-foto {
    height: 650px;
  }
  .slider {
    height: 650px;
  }
}
