body{
	background: #d4d4d4;
	margin: 60px;
	background-image: url("../img/brickwall.png");
}

.logo{
	width: 20px;
}

.navigation{
	color: #333;
}

#slider{
	border-radius: 5px;
	box-shadow: 2px 1px 10px 0 #999;
	margin-bottom: 5%;
}

.viewport{
    border-radius: 5px;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;    
}

.slide{
    float: left;
    height: 350px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33.33333333%;
}

.slide-control{
	margin-top: 11.5%;
	width: 60px;
}

.content{
	margin: 0;
}

.block{
	background: #fafafa;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 1.5em;
	line-height: 40px;
	margin-bottom: 40px;
	min-height: 250px;
	padding: 30px;
	text-align: justify;
	box-shadow: 2px 1px 10px 0 #999;
}

.cube{
	background: #fafafa;
	border-radius: 5px;
	margin-bottom: 40px;
	width: 380px;
	box-shadow: 2px 1px 7px 0 #999;
}

.cube img{
	margin: 0 !important;
}

.content-left{
	margin-left: 0;
}

.content-right{
	float:right;
}

.main-article{
	background: #fafafa;
}

.order{
	height: 650px;
	margin-left: 20%;
}

.order span{
	color: #f00;
}

.order-data{
	float: left;
	text-align: right;
}

.order-form{
	margin-left: 20px;
	float: left;
}

.portfolio{
	height: 250px;
}

.portfolio-link{
	background: rgba(255,255,255,0.6);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
	height: 30px;
	position: relative;
	bottom: 30px;
	font-size: 2em;
	color: #333;
	padding-top: 3px;
	text-align: center;
}

.test{
	height: 400px;
	margin-left: 20%;
}

.test-data{
	float:left;
	text-align: right;
}

.test-form{
	margin-left: 20px;
	float: left;	
}

.test-form input{
	margin-left: 30px;
}

.review{
	height: 400px;
	margin-left: 20%;
}

.review-data{
	float: left;
	text-align: right;
}

.review-form{
	float: left;
	margin-left: 20px;
}

.review span{
	color: #f00;
}

.notation{
	clear:both;
	float:left;
	font-size: 0.8em;
}

.text-fild{
	min-height: 100px;
	resize: vertical;
}

.btn-block{
	width: 80% !important;
}

.tab{
	font-size: 0.8em;
	margin-left: 20px;
}

.tab a{
	color: #333;
}

.footer{
	background: #fafafa;
	border-radius: 5px;
	box-shadow: 2px 1px 10px 0 #999;
	min-height: 6.5em;
	padding-top: 5px;
}

.data{
	display: inline-block;
	margin-right: 3em;
}

.data a{
	color:#333;
}

.social_network{
	float: right;
	margin-right: 2.5%;
}

.social-icon{
	background: #d4d4d4;
	border-radius: 100%;
	box-shadow: 2px 1px 0px 0 #111;
	margin: 0 2px 5px 2px;
	padding: 3px;
	width: 30px;
}

.vk:hover{
	background: #5C82AB;
}

.twitter:hover{
	background: #55ACEE;
}

.facebook:hover{
	background: #3B5998;
}

.youtube:hover{
	background: #E12B28;
}
